*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
   flex-direction: column;
    background-color: black;
    margin: 0;
    padding: 0;
}

.logo{
    width: 100px;
    transform: translateY(-30px);
    
}


    /* display: flex;
    flex-direction: row;
    justify-content: right; */
    /* transform: translate(-20px, 20px); */
    
    
    .buscar {
        display: flex;
  align-items: right;
  justify-content: right;
  /* height: ; */
  
        position: relative;
        padding: 5px;
      }
      
      .buscar input {
        width: 0;
        height: 40px;
        padding: 0 20px;
        font-size: 18px;
        color: #222;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
        transition: all 0.6s ease;
      }
      
      .btn {
        width: 55px;
        height: 55px;
        line-height: 55px;
        top: 0;
        right: 0;
        position: absolute;
        background: orange;
        text-align: center;
        color: white;
        font-size: 18px;
        border-radius: 50%;
        cursor: pointer;
      }
      
      .buscar:hover input {
        width: 240px;
      }
      
      .buscar input:focus {
        width: 240px;
      }    

    

/* .buscador{
    position: relative;
  padding: 5px;
}
     */


/* .buscador input{
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
  
}
.btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: #440088;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .buscardor:hover input {
    width: 240px;
  }
  
  .buscardor input:focus {
    width: 240px;
  } */
  

.header-navegacion{
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    margin:0;
    background-color: orange;
    
}
nav li a {
    list-style: none;
    text-decoration: none;
}
    


nav li {
    list-style: none;
}

/* FIN HEADER */


.section-1{
    background-color: black;
    display: flex;
    flex-direction: row;
}
.fernetlogo{
    width: 50%;
}

.parrafos{
    text-align: center;
    align-self: center;
    color: white;
    
}
.lista{
    border: 1px solid #e38b06; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #eb8221; /*color botón*/
    color: black; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-weight: bold;
}
/*main pero solo parte del fernet*/




        


/*FIN SECTION UNO LA PUTA MADRE*/

.section-2 {
    
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 400px 500px 500px 500px;
}

.vino {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px 0px 0px 0px;
}

.whisky {
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.espumante {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
}

.birra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.coca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/*footer*/
footer{
   
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}




/*COMIENZO EDIT ICONOS*/
 .footer-icon {
    grid-column: 3/3;
    grid-row: 1/1;
    }

    .footer-icon {
        display: flex;
       
        align-items: center;
        justify-content: center;
    }

    .footer-icon ul li {
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }

    .footer-icon ul li a {
        display: block;
        padding: 0 10px;
        background: #111;
        color: white;
        line-height: 50px;
        font-size: 18px;
       box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2);
        transition: .2s;
    }

    .footer-icon ul:hover a {
        filter: blur(2px);
    }

    .footer-icon ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 3px 5px 0px rgba(0,0,0,0.4);
        filter: none;
    }

    .footer-icon ul li .facebook:hover {
        background: var(--facebook);
    }  
    .footer-icon ul li .instagram:hover {
        background: var(--instagram);
    }  
    .footer-icon ul li .email:hover {
        background: var(--email);
    }  
    .footer-icon ul li .whatsapp:hover {
        background: var(--whatsapp);
    }  




:root {
    --facebook: #3b5999;
    --instagram: #e4405f;
    --email: #0077b5;
    --whatsapp: rgb(37, 206, 37);
}
    
  /*FORM*/
  @import url( 'https://fonts.googleapis.com/css?family=Roboto');
:root {--fuente-principal: 'Roboto', sans-serif;
--color-principal: white;
--bk1: 700px;}

*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body {
  font-family: var(--fuente-principal);
  color: var(--color-principal);
   line-height: 1.5; 
}

.contenedor {
  max-width: 100%;
  margin: 0;
  padding: 1.5rem;
  background-color: #111;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(var(--color-principal), .7);
  border-radius: 5px;}



 

.servicios {
  list-style: none;
  text-align: center;}


  

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.info-empresa {
  padding: 1rem;
  background-color: lighten(var(--color-principal), 50%);}

  
   
    
  


.nombre-empresa {
  color: darken(var(--color-principal), 15%);
  text-align: center;
}

.contacto {
  padding: 1rem;
  background-color: lighten(var(--color-principal), 60%);}

  h3 {
    margin-bottom: 1rem;
    text-align: center;
  }


.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;}

  label {
    display: block;
  }

  button,
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid lighten(var(--color-principal), 50%);
  }

  textarea {
    resize: none;
  }


.full{
  grid-column: 1 / 3;
  
}



.boton-enviar {
  background-color: orange;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;}

  a:focus,
  a:hover {
    background-color: var(--color-principal);
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
  }




/*QUERIES*/
@media screen and (max-width: 480px) {
    .section-1{
        display: flex;
        flex-direction: column;
    }
    .fernetlogo{width: 50vh;}
    
    .parrafo1{font-size: 1em;
    padding: 5px;
color: aliceblue;
font-weight: 100;
transform: translateX(10px);}
.parrafo2{
    font-size: 1em;
    padding: 5px;
    color: white;
    font-weight: 100;
    transform: translateX(10px);
}
.h1{color: white;}

.lista{
    border: 1px solid #e38b06;
    padding: 10px;
    background-color: #e38b06;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}




} 

@media screen and (max-width: 480px) {
    .buscar {
        align-self: center;
    }
    .buscar input {
        width: 0;
        height: 30;
        padding: 0 20px;
        font-size: 18px;
        color: #222;
        outline: none;
        border: 1px solid silver;
        border-radius: 20px;
        transition: all 0.6s ease;
      }
.btn {
    width: 55px;
    height: 55x;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: orange;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .buscar:hover input {
    width: 200px;
  }
  
  .buscar input:focus {
    width: 200px;
  }    }

@media screen and(min-width: 700px) {
    .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
  }
  
}
@media screen and(min-width: 700px) {
    .servicios {
    text-align: left;
  }
}

/* @media screen and(max-width: 400px){
    .buscador {
        font-size: 10px;
        
        
        
    }
    
}

@media screen and (min-width: 400px){
    .buscador {
        font-size: 18px;
    }
    
} */

/* @media screen and(min-width: 700px) {
    h3 {
  /* text-align: ; 
  margin-bottom: 0.5rem;
  text-align: center;  }
}
     */