/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #2F4A26; }
.My-Color-Theme-2-hex { color: #B5D4AB; }
.My-Color-Theme-3-hex { color: #81CC68; }
.My-Color-Theme-4-hex { color: #424D3E; }
.My-Color-Theme-5-hex { color: #61994E; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(47, 74, 38, 1); }
.My-Color-Theme-2-rgba { color: rgba(181, 212, 171, 1); }
.My-Color-Theme-3-rgba { color: rgba(129, 204, 104, 1); }
.My-Color-Theme-4-rgba { color: rgba(66, 77, 62, 1); }
.My-Color-Theme-5-rgba { color: rgba(97, 153, 78, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(105, 32, 21, 1); }
.My-Color-Theme-2-hsla { color: hsla(105, 32, 75, 1); }
.My-Color-Theme-3-hsla { color: hsla(105, 49, 60, 1); }
.My-Color-Theme-4-hsla { color: hsla(103, 10, 27, 1); }
.My-Color-Theme-5-hsla { color: hsla(104, 32, 45, 1); }
