:root {
    $facebook: #3b5999;
    $instagram: #e4405f;
    $email: #0077b5;
    $whatsapp: rgb(37, 206, 37);
}


/* :root {$fuente-principal: 'Roboto', sans-serif;
$color-principal: white;
$bk1: 700px;}
 */